body {
	background: black;
}
.uno{
	text-align: left;
	width: 50%;
}
.dos{
	float: right;
	width: 50%;
}
.postcard {
	background: white;
	width: 500px;
	height: 300px;
	margin-top: 5%;
	margin-left: 35%;
	padding: 2%;
}
.postcard-header {
	display: flex;
}
.postcard-body {
	display: flex;
}
img {
	float: right;
	width: 70px;
	height: 65px;
}
h1 {
	font-size: 40px;
	margin: 0%;
}
.postcard-footer {
	padding-left: 40%;
	padding-top: 10%;
	display: flex;
}
.button{
	width: 45%;
	height: 30%;
	background-color: chartreuse;
	color: darkblue;
}

